# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3

# Ambiente virtual
.venv/
venv/
env/

# Poetry
.poetry/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Django
media/
staticfiles/

# Testes e cobertura
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db